body {
  background-color: rosybrown;
}

h1 {
  text-align: center;
}
.timerBox {
  width: 380px;
  height: 150px;
  background-color: antiquewhite;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
}

.timePanel {
  width: 200px;
  height: 50px;
  margin: 1rem auto;
}

.timePanel > p {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid gray;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  word-spacing: 1px;
  border-radius: 5px;
  background-color: aliceblue;
}

button {
  cursor: pointer;
  width: 90px;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
}

.buttons-panel {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

figure {
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  margin: 1rem auto;
  border-radius: 50%;
  border: 4px solid grey;
  position: relative;
}

#timer-center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background-color: gray;
}

#timer-top,
#timer-right,
#timer-bottom,
#timer-left {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: brown;
}

#timer-top {
  top: 5px;
  left: calc(50% - 10px);
}

#timer-bottom {
  top: calc(100% - 25px);
  left: calc(50% - 10px);
}

#timer-right {
  top: calc(50% - 10px);
  left: calc(100% - 25px);
}

#timer-left {
  top: calc(50% - 10px);
  left: calc(10px);
}

#seconds-arrow {
  width: 6px;
  height: 130px;
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% - 3px);
  transform: rotate(0deg);
  transform-origin: bottom;
  background-color: brown;
  border-radius: 3px;
}

#minutes-arrow {
  background-color: purple;
  width: 10px;
  height: 140px;
  position: absolute;
  top: calc(50% - 140px);
  left: calc(50% - 5px);
  transform: rotate(0deg);
  transform-origin: bottom;
  border-radius: 5px;
}

#timer-start-btn,
#timer-stop-btn,
#timer-reset-btn {
  width: 65px;
  height: 35px;
  border-radius: 1rem;
  position: absolute;
  top: 10px;
}

#timer-start-btn {
  left: calc(80% - 12px);
  transform: rotate(35deg);
  background-color: midnightblue;
  color: antiquewhite;
}

#timer-stop-btn {
  right: calc(80% - 12px);
  transform: rotate(-35deg);
  background-color: midnightblue;
  color: antiquewhite;
}

#timer-reset-btn {
  top: -30px;
  left: calc(50% - 32.5px);
  background-color: purple;
  color: antiquewhite;
}
